<header class="navbar bg-light">
    header
  </header>
  <div class="mx-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 border-right mainHight">
            <app-lside></app-lside>
        </div>
        <div class="col-10 mainHight">
          <router-outlet></router-outlet>
        </div>
        <div class="col-1 mainHight">rside</div>
      </div>
    </div>
  </div>

<!-- <div class="home-container">
  <mat-toolbar>Toolbar</mat-toolbar>
  <div class="mx-2">  
    <mat-sidenav-container class="nav-container">
      <mat-sidenav mode="side" opened="true" [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">

        <mat-nav-list>
          <a mat-list-item *ngFor="let link of subjects"> {{ link }} </a>
       </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav mode="side" opened="true" position="end">
      </mat-sidenav>
  
      <mat-sidenav-content>123
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
</div> -->
